<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="../../static/css/personas/crear-persona.css"
    <title></title>
</head>
<body>
    <h1>Crear Nueva Persona</h1>
    <form>
        Nombre:<input type="text" placeholder="Nombre" id="input-nombre" required>
        <hr>
        Apellido:<input type="text" placeholder="Apellido" id="input-apellido" required>
        <hr>
        Edad:<input type="number" placeholder="Edad" id="input-edad" required min="0" max="100">
    </form>
    <a href="./index.html">
    <button class="btn-enviar">Enviar</button>
    </a>
    
    
</body>
<script src="../../static/js/personas/crear-persona.js"></script>
</html>