<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="../../static/css/personas/index.css"
  />
    <title>Personas</title>
  </head>
  <body>
    <h1>Personas
      <a href="./crear-persona.html">
      <button class:"btn-crear" id="crear-persona">Crear Persona</button>
      </a>
    </h1> 
    <div class="container">
    <table>
      <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th> 
      <th>Opciones</th>
    </tr>   
      </thead>
      <tbody id="tbody-personas"></tbody>
    </table>
    </div>
    <script src="../../static/js/personas/index.js"></script>
  </body>
</html>
