<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="../../static/css/personas/ver-persona.css"
    <title></title>
</head>
<body>
    <div class="container">
        <h1>Persona</h1>
        <tr>
            <h2>Nombre : <span id="nombre"></span></h2>
            <h2>Apellido : <span id="apellido"></span></h2>
            <h2>Edad : <span id="edad"></span></h2>
        </tr>
        <button class="btn-borrar">Borrar</button>
        <a href="./index.html">
        <button class ="btn-volver">Volver</button>
        </a>
        <a href="./editar-persona.html">
        <button class="btn-editar">Editar</button>
        </a>

    </div>
</body>
<script src="../../static/js/personas/ver-persona.js"></script>
</html>